.num1 {
    color: blue;
    text-align: center;
}
.fix-card{
   
 width: 200px; /* Adjust this value as needed */ height: 300px; /* Adjust this value as needed */ overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: flex; flex-direction: column; justify-content: space-between
}
