
.fix-card{
   
 width: 200px; 
 height: 300px;  
 overflow: hidden; 
 text-overflow: ellipsis; 
 word-wrap: break-word; 
 display: flex; 
 flex-direction: column;
 justify-content: space-between 
}
/* Dont Mind ABout THis */
#a1{
color: antiquewhite;
text-decoration: none;
}
.fa-solid{
    color: aquamarine;
    margin-right: 10px;
}